@use "@material/theme" with (
  $primary: #694ED6,
  $secondary: #C137A2,
  $background: #fafafa
);

@mixin core-styles() {
  @include theme.core-styles;
}

@mixin dark-theme() {
  #{if(&, '&', ':root')} {
    --mdc-theme-primary: #694ED6;
    --mdc-theme-secondary: #C137A2;
    --mdc-theme-background: #0b0a0a;
    --mdc-theme-surface: #fff;
    --mdc-theme-error: #e40046;
    --mdc-theme-on-primary: #000;
    --mdc-theme-on-secondary: #fff;
  }
}